<li id="comment-<%= comment._id %>"> 
    <p>
        <% if(locals.user && comment.user.id == locals.user.id) { %>
            <small>
                <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button">x</a>
            </small>
        <% } %>   
        <span>
            <%= comment.content %>
        </span>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
        <br>
        <small>
            <% if(locals.user){ %>
                <a href="/likes/toggleLike?id=<%=comment._id%>&type=Comment" data-likes="<%= comment.likes.length %>" class="toggle-like">
                    <span class="current-likes"><%= comment.likes.length %></span>
                    <span><i class="far fa-thumbs-up"></i></span>
                </a>
            <% }else{ %>
                <span class="current-likes"><%= comment.likes.length %></span>
                <span><i class="far fa-thumbs-up"></i></span>
            <% } %>
        </small>
    </p>
</li>